.clj-kondo
.adr-dir
.cpcache
.lsp/.cache
.nrepl-port
.shadow-cljs
.idea
*.iml
.DS_Store
target
node_modules
prototypes/*/resources/public/js
.editorconfig
.pnp.cjs
.yarn
ssl
.pnp.loader.mjs
firestore-debug.log
ui-debug.log
.firebaserc
app-credentials.json
firebase-debug.log
