{:paths ["src" "resources"]
 :deps {; internal deps
        prototypes/shared-core {:local/root "../shared_core"}
        prototypes/server {:local/root "../server"}
        ; html-templating
        hiccup/hiccup {:mvn/version "2.0.0-alpha2"}
        ; clojure-wrapper htmx
        ctmx/ctmx {:mvn/version "1.4.8"}
        ; dev-time state management
        mount/mount {:mvn/version "0.1.16"}}
 :aliases {:build {:paths ["src"]
                   :deps {prototypes/build {:local/root "../build"}}
                   :ns-default build}}}
