{:paths ["src" "resources"]
 :deps {; http-requests
        clj-http/clj-http {:mvn/version "3.12.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        ; db
        lurodrigo/firestore-clj {:mvn/version "1.2.1"}
        ; server
        info.sunng/ring-jetty9-adapter {:mvn/version "0.18.5"}
        metosin/reitit {:mvn/version "0.5.9"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        ; state-mangement
        mount/mount {:mvn/version "0.1.17"}}}
