{:deps {:aliases [:cljs :dev]}
 :http {:host "localhost"
        :ssl-port 9630}
 :dev-http {8000 {:root "resources/public"}}
 :ssl {:keystore "../shared/ssl/keystore.jks"
       :password "changeit"}
 :builds {:frontend {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "/js"
                     :dev {:asset-path "https://localhost:8000/js"}
                     :modules {:shared {:entries []}
                               :jira-item-view
                               {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.jira-item-view/init
                                :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.jira-item-view]
                                :depends-on #{:shared}}
                               :monday-item-view
                               {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.monday-item-view/init
                                :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.monday-item-view]
                                :depends-on #{:shared}}
                               :jira-item-link-modal
                               {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.jira-create-item-link-modal/init
                                :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.jira-create-item-link-modal]
                                :depends-on #{:shared}}
                               :monday-item-link-modal
                               {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.monday-create-item-link-modal/init
                                :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view.monday-create-item-link-modal]
                                :depends-on #{:shared}}}
                     :devtools {:after-load avisi.apps.tech-testing-ground.prototypes.fulcro.client.current-app/refresh
                                :devtools-url "https://localhost:9630"
                                :preloads [com.fulcrologic.fulcro.inspect.preload
                                           com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
