{:deps {:aliases [:cljs :dev]}
 :dev-http {8000 "classpath:public"}
 :builds {:frontend {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "/js"
                     :modules {:shared {:entries []}
                               :main {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.main-page/init
                                      :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.main-page]
                                      :depends-on #{:shared}}
                               :iframe {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.issue-panel/init
                                        :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.issue-panel]
                                        :depends-on #{:shared}}}
                     :devtools {:after-load avisi.apps.tech-testing-ground.prototypes.fulcro.client.current-app/refresh
                                :preloads [com.fulcrologic.fulcro.inspect.preload
                                           com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
