{:deps {:aliases [:cljs :dev]}
 :http {:host "localhost"
        :ssl-port 9630}
 :dev-http {8000 {:root "resources/public"}}
 :ssl {:keystore "../shared/server/ssl/keystore.jks"
       :password "changeit"}
 :builds {:frontend {:target :browser
                     :output-dir "resources/public/js"
                     :asset-path "/js"
                     :dev {:asset-path "https://localhost:8000/js"}
                     :modules {:shared {:entries []}
                               :main {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.main-page/init
                                      :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.main-page]
                                      :depends-on #{:shared}}
                               :iframe {:init-fn avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view/init
                                        :entries [avisi.apps.tech-testing-ground.prototypes.fulcro.client.item-view]
                                        :depends-on #{:shared}}}
                     :devtools {:after-load avisi.apps.tech-testing-ground.prototypes.fulcro.client.current-app/refresh
                                :devtools-url "https://localhost:9630"
                                :preloads [com.fulcrologic.fulcro.inspect.preload
                                           com.fulcrologic.fulcro.inspect.dom-picker-preload]}}}}
